Functions

In [16]:
def add(a,b):
  return a + b

x=int(input("Enter the first number: "))
y=int(input("Enter the second number: "))
print(add(x,y))
print(add(3,4))

Enter the first number: 2
Enter the second number: 3
5
7

In [18]:
#Function with default arguments

def greet(name,message="Hello"):
  return f"{message}, {name}"

n=input("Enter your name: ")
print(greet(n))
print(greet("Alice","Hi"))

ENter your name: Nik
Hello, Nik
Hi, Alice

In [19]:
def fun():
  print("Hello")

fun()

Hello

In [20]:
def fun(name):
  print("Hello",name)

fun("Nik")

Hello Nik

In [29]:
def square(a):
  return a*a


n=int(input("Enter a number: "))  #input is by default string type
print(f"Square of {n} is {square(n)}")

Enter a number: 2
Square of 2 is 4

In [33]:
#Function with variable length arguments

def sum_all(*args):
  return sum(args)   #predefined sum()

print(sum_all(1,2,3,4,5))

15

In [35]:
#Function with keyword Arguments(dictionary arguments)(could be n no. of args)
def display(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}:{value}")

display(name="Alice",age=25,city="New York")

name:Alice
age:25
city:New York

In [38]:
#Higher Order function ( func as an arhument in the function)
def apply(fun,x,y):
  return fun(x,y)

def multiply(x,y):
  return x*y

print(apply(multiply,5,6))
print(multiply(5,6))

30
30

Lambda Expressions/Anonymous functions: unnamed,defined using lambda, often used for short,throwaway function.

Commonly used in sorting algorithms

In [39]:
square = lambda x: x*x
print(square(5))

25

In [43]:
#lambda function in map ( map function maps the new value to the position of their previous value)
num=[1,2,3,4,5]
squares = list(map(lambda x: x*x, num))
# squares = list(lambda x: x*x)
print(squares)

[1, 4, 9, 16, 25]

In [44]:
#Lambda function in 'filter' ( filter output the true values only)

num=[1,2,3,4,5]
even=list(filter(lambda x : x%2==0 , num))
print(even)

[2, 4]

In [47]:
#Lambda with sort function (sorts the output depending on the argument of choice)

students=[("Alice",20),("Bob",18),("Charlie",22)]
students.sort(key=lambda x: x[1])
#other way
y=sorted(students,key=lambda x:x[1])

print(students)
print(y)

[('Bob', 18), ('Alice', 20), ('Charlie', 22)]
[('Bob', 18), ('Alice', 20), ('Charlie', 22)]

Error Handling : try,except,else and finally

In [50]:
try :
  result =10/0
except ZeroDivisionError:
  print("Kya kr rha hai andhe!")

Kya kr rha hai andhe!

In [54]:
try :
  result =10/2
except ZeroDivisionError:
  print("Kya kr rha hai andhe!")
else:
  print("Division successfull", result)

Division successfull 5.0

In [55]:
try :
  result =10/2
except ZeroDivisionError:
  print("Kya kr rha hai andhe!")
else:
  print("Division successfull", result)
finally:  #should be defined at last
  print("This is always executed")

Division successfull 5.0
This is always executed

In [59]:
try:
  num=int(input("Enter the number: "))
  result=10/num
except ValueError:
  print("Number daal andhe")
except ZeroDivisionError:
  print("Kya kr rha hai andhe!")
else:
  print("Divison by 10 : ",result)

Enter the number: 23
Divison:  0.43478260869565216

In [62]:
#Raising Exceptions

def check(num):
  if num<=0:
    raise ValueError("Positive number daal")
  else:
    print("Number = ",num)

try:
  x=int(input("Enter the number: "))
  check(x)
except ValueError as e:
  print(e)

Enter the number: -12
<class 'ValueError'>